*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notice {
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  min-height: 400px;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 1rem;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.list {
  list-style: none;

  display: grid;
  gap: 1rem;

  margin-bottom: 2rem;
}

.item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 12fr 2fr max-content;

  padding: 1rem;

  border: 1px solid #9b9a9a;
  border-radius: 9px;
}

.info {
  font-size: 12px;
  text-align: center;

  display: grid;
  justify-items: center;
  gap: .5rem;
}

.close {
  position: relative;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border: none;
  background-color: unset;
}

.close:hover {
  opacity: .8;
}

.close::after,
.close::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 12px;
  background-color: rgb(63, 63, 63);
}

.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field {
  display: grid;
  gap: 6px;
  height: fit-content;
}

.field__input {
  line-height: 1.6;

  border: none;
  border-bottom: 1px solid #9b9a9a;
}

.field__input:focus-visible {
  outline: none;
}